/*------------------------------------*\
  #SECTION-TITLE
\*------------------------------------*/

* {
  box-sizing: border-box;
  color: #4a4a4a;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, a {
  font-weight: bold;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}

h3 {
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

nav a {
  display: block;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

nav li {
  background-color: white;
  margin: 10px 0;
  padding: 15px 0;
}

header img {
  width: 60%;
}

a:hover{
  transition: .5s;
  color: tomato;
}

.nav-bar {
  background-color: #101010;
}

.portfolio {
  background-color: white;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100%;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.contact {
  border-top: 1px solid #e7e7e7;
}

.skills ul {
  margin: 40px 0;
}

.contact ul {
  margin-top: 40px;
  margin-bottom: 20px;
}
.contact ul li {
  margin-top: 15px;
}

footer {
  font-weight: bold;
  border-top: 1px solid #e7e7e7;
}

footer h3 {
  float: left;
  margin: 0;
  font-size: 16px;
}

footer ul {
  float: right;
}

footer ul li {
  float: left;
}

.large-footer {
  display: none;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

/*------------------------------------*\
  #MEDIA-QUERIE: 768px
\*------------------------------------*/

@media (min-width: 768px) {
  h1 {
    display: inline-block;
    margin: 0;
  }

  nav {
    position: relative;
  }

  nav ul li {
    display: inline-block;
    background: none;
    padding: 0;
    margin: 10px;
  }

  nav a {
    color: white;
    margin-top: 10px;
  }

  .profile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .profile p {
    width: 60%;
    float: left;
    text-align: left;
    margin-top: 0;
    padding-right: 20px;
  }

  .profile img {
    width: 40%;
    float: right;
  }

  .project {
      float: left;
      padding: 0 10px;
      width: 50%;
  }

  .contact p,
  .skills p {
    width: 75%;
    margin: 20px auto;
  }

  .large-footer {
    display: block;
    margin-left: 30px;
  }

  footer a {
    font-size: 14px;
  }

  footer ul li:last-child {
    display: none;
  }
}

ul.skills {
  padding: 0;
  text-align: center;
}

/*------------------------------------*\
  #MEDIA-QUERIE: 1024px
\*------------------------------------*/

@media (min-width: 1024px) {
  .project {
      width: 33%;
  }

  nav a {
    margin-top: 0;
  }

  nav ul {
    float: right;
    position: inherit;
    left: 0;
    transform: translateX(0);
  }

  h1 {
    float: left;
  }
}
