/*Global layout*/

* {
  box-sizing: border-box;
  color: #4a4a4a;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  padding: 0;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.portfolio {
  background-color: white;
}

h1, h2, h3, a {
  font-weight: bold;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.profile,
.nav-bar,
.portfolio,
.contact {
  padding: 20px;
}

a {
  text-decoration: none;
}

nav a {
  display: block;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

nav li {
  background-color: white;
  margin: 10px 0;
  padding: 15px 0;
}

a:hover{
  transition: .5s;
  color: tomato;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100%;
}

header img {
  width: 60%;
}

h3 {
  margin: 10px 0;
}

.contact ul li {
  margin-top: 15px;
}

footer {
  padding: 20px;
  clear: both;
  font-weight: bold;
  border-top: 1px solid #e7e7e7;
}

footer h3 {
  float: left;
  margin: 0;
  font-size: 16px;
}

footer ul li {
  float: right;
}

.large-footer {
  display: none;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

/*media queries*/

@media (min-width: 768px) {
  h1 {
    margin-bottom: 10px;
    display: inline-block;
  }
  nav {
    position: relative;
  }

  nav ul li {
    display: inline-block;
    background: none;
    padding: 0;
    margin: 10px;
  }
  .profile {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .profile p {
    width: 60%;
    float: left;
    text-align: left;
    margin-top: 0;
    padding-right: 20px;
  }
  .profile img {
    width: 40%;
    float: right;
  }
  .project {
      float: left;
      width: 50%;
      padding: 0 10px;
  }
  .contact {
    padding: 30px 80px;
  }
  .large-footer {
    display: block;
    margin-left: 30px;
  }
  footer ul li:last-child {
    display: none;
  }
}

@media (min-width: 1024px) {
  .project {
      width: 33%;
  }
  nav ul {
    float: right;
    position: inherit;
    left: 0;
    transform: translateX(0);
  }
  h1 {
    float: left;
  }
  nav ul li {
    float: left;
    background: none;
    padding: 0;
    margin: 10px;
  }
}
